@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100%;
  height: calc(100vh - 3rem);
}

.leaflet-container a {
  color: #702315;
}

.boutonpopup {
  color: white !important;
}

.leaflet-pane {
  z-index: 0 !important;
}

#outer-circle {
  top: -20px;
}